* {
  margin: 0px;
  padding: 0px;
}

.s3_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s3_2 {
  position: absolute;
  left: 55px;
  top: 56px;
  width: 367px;
  height: 115px;
  animation: fadeInLeft 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s3_3 {
  position: absolute;
  left: 164px;
  top: 143px;
  width: 165px;
  height: 58px;
  animation: flipInX 0.7s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_4 {
  position: absolute;
  left: 459px;
  top: 162px;
  width: 440px;
  height: 186px;
  animation: fadeInUp 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_5 {
  position: absolute;
  left: 260px;
  top: 385px;
  width: 846px;
  height: 76px;
  animation: revealHorizontal 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_6 {
  position: absolute;
  left: 850px;
  top: 530px;
  width: 449px;
  height: 359px;
  animation: fadeInRight 1s;
  animation-delay: 6s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_7 {
  position: absolute;
  left: 647px;
  top: 702px;
  width: 108px;
  height: 53px;
  animation: revealHorizontalSmall 2s;
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_8 {
  position: absolute;
  left: 65px;
  top: 528px;
  width: 472px;
  height: 371px;
  animation: fadeInLeft 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 2;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}


@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

.flipInXFlash {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInXFlash;
  animation-name: flipInXFlash;
}