* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 279px;
  top: -20px;
  width: 808px;
  height: 809px;
  animation: flashInLoop 2s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_3 {
  position: absolute;
  left: 570px;
  top: 38px;
  width: 226px;
  height: 422px;
  animation: fadeIn 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_4 {
  position: absolute;
  left: 570px;
  top: 38px;
  width: 226px;
  height: 422px;
  animation: fadeIn 0.4s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_4_1 {
  position: absolute;
  left: 570px;
  top: 38px;
  width: 226px;
  height: 422px;
  animation: flashInLoop 1.4s 2;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_5 {
  position: absolute;
  left: 141px;
  top: 93px;
  width: 374px;
  height: 57px;
  animation: fadeInLeft 0.7s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_6 {
  position: absolute;
  left: 141px;
  top: 169px;
  width: 327px;
  height: 132px;
  animation: fadeInLeft 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_7 {
  position: absolute;
  left: 338px;
  top: 548px;
  width: 690px;
  height: 89px;
  animation: fadeInUp 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_8 {
  position: absolute;
  left: 714px;
  top: 596px;
  width: 34px;
  height: 41px;
  animation: tada 1.5s;
  animation-delay: 6.5s;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 2;
}

.s1_9 {
  position: absolute;
  left: 69px;
  top: 711px;
  width: 1228px;
  height: 97px;
  animation: fadeInDown 1s;
  animation-delay: 9s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_10 {
  position: absolute;
  left: 861px;
  top: 885px;
  width: 324px;
  height: 42px;
  animation: lightSpeedInLeft 1s;
  animation-delay: 10.5s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes fadeInRightOut {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  
  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightOut {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRightOut {
  -webkit-animation-name: fadeInRightOut;
  animation-name: fadeInRightOut;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}
@keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}
.animate__flashInLoop {
  -webkit-animation-name: flashInLoop;
  animation-name: flashInLoop;
}

@-webkit-keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.rotateInLoop {
  -webkit-animation-name: rotateInLoop;
  animation-name: rotateInLoop;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
	opacity: 1;
  }

  10%,
  20% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
	opacity: 1;
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
	opacity: 1;
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
	opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 1;
  }
}
@keyframes tada {
  from {
	-webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
	opacity: 1;
  }

  10%,
  20% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
	opacity: 1;
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 3deg);
	opacity: 1;
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -3deg);
	opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 1;
  }
}
.animate__tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}