* {
  margin: 0px;
  padding: 0px;
}

.s10_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s10_2 {
  position: absolute;
  left: 92px;
  top: 82px;
  width: 822px;
  height: 121px;
  animation: fadeInLeft 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s10_3 {
  position: absolute;
  left: 351px;
  top: 149px;
  width: 578px;
  height: 132px;
  animation: stampIn 0.3s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s10_4 {
  position: absolute;
  left: 455px;
  top: 335px;
  width: 456px;
  height: 152px;
  animation: fadeInUp 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s10_5 {
  position: absolute;
  left: 145px;
  top: 549px;
  width: 587px;
  height: 286px;
  animation: fadeInLeft 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s10_6 {
  position: absolute;
  left: 786px;
  top: 557px;
  width: 449px;
  height: 289px;
  animation: fadeInRight 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s10_7 {
  position: absolute;
  left: 948px;
  bottom: 153px;
  width: 102px;
  height: 284px;
  animation:barup-ani 1s;
  clip: rect(500px,0px,0px,0px);
  animation-delay: 5.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s10_8 {
  position: absolute;
  left: 1118px;
  bottom: 153px;
  width: 90px;
  height: 145px;
  animation:barup-ani 1s;
  clip: rect(500px,0px,0px,0px);
  animation-delay: 6.5s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes barup-ani  {
	0% {    clip: rect(500px,0px,0px,0px);  }
	100% {    clip: rect(0px,500px,1000px,0px);  }
}

@keyframes barup-ani {
	0% {    clip: rect(500px,0px,0px,0px);  }
	100% {    clip: rect(0px,500px,1000px,0px);  }
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

.flipInXFlash {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInXFlash;
  animation-name: flipInXFlash;
}

@-webkit-keyframes revealHorizontal{
  0% {
    clip: rect(0px,0px,55px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1100px,55px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,55px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1100px,55px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealVertical{
  0% {
    clip: rect(0px,500px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,500px,200px,0px);
	opacity: 1;
  }
}
@keyframes revealVertical {
  0% {
    clip: rect(0px,500px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,500px,200px,0px);
	opacity: 1;
  }
}

.revealVertical {
  -webkit-animation-name: revealVertical;
  animation-name: revealVertical;
}

@keyframes blink {
    0%   {transform: scaleY(1);}
    50%  {transform: scaleY(0);}
    100% {
			transform: scaleY(1);
			opacity: 1;
		 }
}

.blink {
  -webkit-animation-name: blink;
  animation-name: blink;
}